*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}
body{
    text-align: center;
    text-orientation: center;
    background: black;
    color: white;
    padding: 100px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 10px 40px 40px;
    grid-template-areas: 
    "H es es es es es es es es es es es es es es es es He"
    "Li Be es1 es1 es1 es1 es1 es1 es1 es1 es1 es1 B C N O F Ne"
    "Na Mg es1 es1 es1 es1 es1 es1 es1 es1 es1 es1 Al Si P S Cl Ar"
    "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "Cs Ba SL Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
    "Fr Ra SA Rf Db Sg Bh Hs Mt Ds Rg Cn Uut Fl Uup Lv Uus Uuo"
    "lin lin lin lin lin lin lin lin lin lin lin lin lin lin lin lin lin lin "
    "es2 es2 es2 La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
    "es2 es2 es2 Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr";
    grid-gap: 0.35rem;
    position: relative;
}
#H{
    padding-top: 10px;
    grid-area: H;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#es{
    grid-area: es;
}
#He{
    padding-top: 10px;
    grid-area: He;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#Li{
    padding-top: 10px;
    grid-area: Li;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Be{
    padding-top: 10px;
    grid-area: Be;
    border: 1px solid rgba(255, 238, 0, 0.432);
}
#es1{
    grid-area: es1;
    
}
#B{
    padding-top: 10px;
    grid-area: B;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#C{
    padding-top: 10px;
    grid-area: C;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#N{
    padding-top: 10px;
    grid-area: N;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#O{
    padding-top: 10px;
    grid-area: O;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#F{
    padding-top: 10px;
    grid-area: F;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Ne{
    padding-top: 10px;
    grid-area: Ne;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#Na{
    padding-top: 10px;
    grid-area: Na;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Mg{
    padding-top: 10px;
    grid-area: Mg;
    border: 1px solid rgba(255, 238, 0, 0.432);
}
#Al{
    padding-top: 10px;
    grid-area: Al;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Si{
    padding-top: 10px;
    grid-area: Si;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#P{
    padding-top: 10px;
    grid-area: P;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#S{
    padding-top: 10px;
    grid-area: S;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#Cl{
    padding-top: 10px;
    grid-area: Cl;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Ar{
    padding-top: 10px;
    grid-area: Ar;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#K{
    padding-top: 10px;
    grid-area: K;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Ca{
    padding-top: 10px;
    grid-area: Ca;
    border: 1px solid rgb(240,230,90, 0.432);
}
#Sc{
    padding-top: 10px;
    grid-area: Sc;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ti{
    padding-top: 10px;
    grid-area: Ti;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#V{
    padding-top: 10px;
    grid-area: V;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Cr{
    padding-top: 10px;
    grid-area: Cr;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Mn{
    padding-top: 10px;
    grid-area: Mn;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Fe{
    padding-top: 10px;
    grid-area: Fe;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Co{
    padding-top: 10px;
    grid-area: Co;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ni{
    padding-top: 10px;
    grid-area: Ni;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Cu{
    padding-top: 10px;
    grid-area: Cu;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Zn{
    padding-top: 10px;
    grid-area: Zn;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ga{
    padding-top: 10px;
    grid-area: Ga;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Ge{
    padding-top: 10px;
    grid-area: Ge;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#As{
    padding-top: 10px;
    grid-area: As;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#Se{
    padding-top: 10px;
    grid-area: Se;
    border: 1px solid rgba(187, 255, 0, 0.432);
}
#Br{
    padding-top: 10px;
    grid-area: Br;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Kr{
    padding-top: 10px;
    grid-area: Kr;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#Rb{
    padding-top: 10px;
    grid-area: Rb;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Sr{
    padding-top: 10px;
    grid-area: Sr;
    border: 1px solid rgba(255, 238, 0, 0.432);
}
#Y{
    padding-top: 10px;
    grid-area: Y;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Zr{
    padding-top: 10px;
    grid-area: Zr;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Nb{
    padding-top: 10px;
    grid-area: Nb;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Mo{
    padding-top: 10px;
    grid-area: Mo;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Tc{
    padding-top: 10px;
    grid-area: Tc;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ru{
    padding-top: 10px;
    grid-area: Ru;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Rh{
    padding-top: 10px;
    grid-area: Rh;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Pd{
    padding-top: 10px;
    grid-area: Pd;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ag{
    padding-top: 10px;
    grid-area: Ag;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Cd{
    padding-top: 10px;
    grid-area: Cd;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#In{
    padding-top: 10px;
    grid-area: In;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Sn{
    padding-top: 10px;
    grid-area: Sn;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Sb{
    padding-top: 10px;
    grid-area: Sb;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#Te{
    padding-top: 10px;
    grid-area: Te;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#I{
    padding-top: 10px;
    grid-area: I;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Xe{
    padding-top: 10px;
    grid-area: Xe;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#Cs{
    padding-top: 10px;
    grid-area: Cs;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Ba{
    padding-top: 10px;
    grid-area: Ba;
    border: 1px solid rgba(255, 238, 0, 0.432);
}
#SL{
    font-size: 5px;
    text-align: center;
    padding-top: 10px;
    grid-area: SL;
    border: 1px solid rgb(150,225,225);
}
#Hf{
    padding-top: 10px;
    grid-area: Hf;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ta{
    padding-top: 10px;
    grid-area: Ta;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#W{
    padding-top: 10px;
    grid-area: W;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Re{
    padding-top: 10px;
    grid-area: Re;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Os{
    padding-top: 10px;
    grid-area: Os;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ir{
    padding-top: 10px;
    grid-area: Ir;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Pt{
    padding-top: 10px;
    grid-area: Pt;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Au{
    padding-top: 10px;
    grid-area: Au;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Hg{
    padding-top: 10px;
    grid-area: Hg;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Tl{
    padding-top: 10px;
    grid-area: Tl;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Pb{
    padding-top: 10px;
    grid-area: Pb;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Bi{
    padding-top: 10px;
    grid-area: Bi;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Po{
    padding-top: 10px;
    grid-area: Po;
    border: 1px solid rgba(0, 255, 225, 0.432);
}
#At{
    padding-top: 10px;
    grid-area: At;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Rn{
    padding-top: 10px;
    grid-area: Rn;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#Fr{
    padding-top: 10px;
    grid-area: Fr;
    border: 1px solid rgba(255, 174, 0, 0.432);
}
#Ra{
    padding-top: 10px;
    grid-area: Ra;
    border: 1px solid rgba(255, 238, 0, 0.432);
}
#SA{
    font-size: 5px;
    padding-top: 10px;
    grid-area: SA;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Rf{
    padding-top: 10px;
    grid-area: Rf;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Db{
    padding-top: 10px;
    grid-area: Db;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Sg{
    padding-top: 10px;
    grid-area: Sg;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Bh{
    padding-top: 10px;
    grid-area: Bh;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Hs{
    padding-top: 10px;
    grid-area: Hs;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Mt{
    padding-top: 10px;
    grid-area: Mt;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Ds{
    padding-top: 10px;
    grid-area: Ds;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Rg{
    padding-top: 10px;
    grid-area: Rg;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Cn{
    padding-top: 10px;
    grid-area: Cn;
    border: 1px solid rgba(255, 0, 0, 0.432);
}
#Uut{
    padding-top: 10px;
    grid-area: Uut;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Fl{
    padding-top: 10px;
    grid-area: Fl;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Uup{
    padding-top: 10px;
    grid-area: Uup;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Lv{
    padding-top: 10px;
    grid-area: Lv;
    border: 1px solid rgb(190,210,210, 0.432);
}
#Uus{
    padding-top: 10px;
    grid-area: Uus;
    border: 1px solid rgba(0, 166, 255, 0.432);
}
#Uuo{
    padding-top: 10px;
    grid-area: Uuo;
    border: 1px solid rgba(0, 162, 255, 0.432);
}
#es2{
    grid-area: es2;
}
#La{
    padding-top: 10px;
    grid-area: La;
    border: 1px solid rgb(150,225,225);
}
#Ce{
    padding-top: 10px;
    grid-area: Ce;
    border: 1px solid rgb(150,225,225);
}
#Pr{
    padding-top: 10px;
    grid-area: Pr;
    border: 1px solid rgb(150,225,225);
}
#Nd{
    padding-top: 10px;
    grid-area: Nd;
    border: 1px solid rgb(150,225,225);
}
#Pm{
    padding-top: 10px;
    grid-area: Pm;
    border: 1px solid rgb(150,225,225);
}
#Sm{
    padding-top: 10px;
    grid-area: Sm;
    border: 1px solid rgb(150,225,225);
}
#Eu{
    padding-top: 10px;
    grid-area: Eu;
    border: 1px solid rgb(150,225,225);
}
#Gd{
    padding-top: 10px;
    grid-area: Gd;
    border: 1px solid rgb(150,225,225);
}
#Tb{
    padding-top: 10px;
    grid-area: Tb;
    border: 1px solid rgb(150,225,225);
}
#Dy{
    padding-top: 10px;
    grid-area: Dy;
    border: 1px solid rgb(150,225,225);
}
#Ho{
    padding-top: 10px;
    grid-area: Ho;
    border: 1px solid rgb(150,225,225);
}
#Er{
    padding-top: 10px;
    grid-area: Er;
    border: 1px solid rgb(150,225,225);
}
#Tm{
    padding-top: 10px;
    grid-area: Tm;
    border: 1px solid rgb(150,225,225);
}
#Yb{
    padding-top: 10px;
    grid-area: Yb;
    border: 1px solid rgb(150,225,225);
}
#Lu{
    padding-top: 10px;
    grid-area: Lu;
    border: 1px solid rgb(150,225,225);
}
#lin{
    grid-area: lin;
}
#Ac{
    padding-top: 10px;
    grid-area: Ac;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Th{
    padding-top: 10px;
    grid-area: Th;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Pa{
    padding-top: 10px;
    grid-area: Pa;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#U{
    padding-top: 10px;
    grid-area: U;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Np{
    padding-top: 10px;
    grid-area: Np;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Pu{
    padding-top: 10px;
    grid-area: Pu;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Am{
    padding-top: 10px;
    grid-area: Am;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Cm{
    padding-top: 10px;
    grid-area: Cm;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Bk{
    padding-top: 10px;
    grid-area: Bk;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Cf{
    padding-top: 10px;
    grid-area: Cf;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Es{
    padding-top: 10px;
    grid-area: Es;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Fm{
    padding-top: 10px;
    grid-area: Fm;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Md{
    padding-top: 10px;
    grid-area: Md;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#No{
    padding-top: 10px;
    grid-area: No;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
#Lr{
    padding-top: 10px;
    grid-area: Lr;
    border: 1px solid rgba(255, 0, 191, 0.432);
}
footer{
font-size:.8em;
text-align:left;	
flex-basis:13.5rem;
margin:-.25em 0 0 1em;
}

ul{
display:flex;
flex-wrap:wrap;
position:sticky;
top:1em;
list-style: none
}

li{
flex-basis:100%;
line-height:1.25;
margin-bottom:1em;	
}

li:before{
content:' ';
display:inline-block;
width:1em;
height:1em;
border:.125em solid;
border-radius:.125rem;	
margin-right:.5em;
position:relative;
top:.25em;
}
:root{
	--bg-preto:rgb(0, 0, 0);
	--nao-metal:rgb(180,210,100);
    --bg-nao-metal:rgb(180,210,100, 0.432);
	--gas-nobre:rgb(100,180,225);
    --bg-nobre:rgba(100, 179, 225, 0.432);
	--metal-alcalino:rgb(245,200,100);
    --bg-metal-alcalino:rgb(245,200,100, 0.432);
	--metal-alcalino-terroso:rgb(240,230,90);
    --bg-metal-alcalino-terroso:rgb(240,230,90, 0.432);
	--semimetal:rgb(110,200,190);
    --bg-semimetal:rgb(110,200,190, 0.432);
	--halogenio:rgb(170,225,255);
    --bg-halogenio:rgb(170,225,255, 0.432);
	--outros-metais:rgb(190,210,210);
    --bg-outros-metais:rgb(190,210,210, 0.432);
	--metal-transicao:rgb(245,175,175);
    --bg-metal-transicao:rgb(245,175,175, 0.432);
	--lantanideo:rgb(150,225,225);
    --bg-lantanideo:rgb(150,225,225, 0.432);
	--actinidio:rgb(230,190,220);
    --bg-actinidio:rgb(230,190,220, 0.432);
}
.nao-metal{
	color:var(--nao-metal);
    background-color:var(--bg-nao-metal);
}
	
.gas-nobre{
	color:var(--gas-nobre);
    background-color:var(--bg-nobre);
}

.metal-alcalino{
	color:var(--metal-alcalino);
    background-color:var(--bg-metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
    background-color:var(--bg-metal-alcalino-terroso);
}
	
.semimetal{
	color:var(--semimetal);
    background-color:var(--bg-semimetal);
}
	
.halogenio{
	color:var(--halogenio);
    background-color:var(--bg-halogenio);
}
	
.outros-metais{
	color:var(--outros-metais);
    background-color:var(--bg-outros-metais);
}
	
.metal-transicao{
	color:var(--metal-transicao);
    background-color:var(--bg-metal-transicao);
}
	
.lantanideo{
	color:var(--lantanideo);
    background-color:var(--bg-lantanideo);
}
	
.actinidio{
	color:var(--actinidio);
    background-color:var(--bg-actinidio);
}

.dvElemento{
    cursor: pointer;
}

.divViewToogle {
    display: block !important;
}

.infoPosition {
    background-color: rgb(192, 192, 192);
    width: 55.7%;
    height: 31%;
    color: black;
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 0%;
    left: 11%;
    animation: fadeIn .5s ease-in-out;
}

.container2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 10px 30px 30px 30px;
    grid-template-areas: 
    "es es es es es es es"
    "Nome simbolo simbolo1 numero numero1 massa massa1"
    "Nome densidade densidade1 fusao fusao1 ebulicao ebulicao1"
    "Nome eletro eletro1 energia energia1 distro distro1";
    grid-gap: 0.35rem;
    position: relative;
}


#nomeElemento{
    grid-area: Nome;
    padding-top: 10px;
    background-color: white;
    border-top: 5px solid rgba(0, 0, 0, 0.432);
    border-right: 5px solid rgba(0, 0, 0, 0.432);
    border-left: 5px solid rgba(0, 0, 0, 0.432);
    border-bottom: 5px solid rgba(0, 0, 0, 0.432);
}


#simboloElemento{
    grid-area: simbolo;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#simboloElemento1{
    grid-area: simbolo1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#numeroElemento{
    grid-area: numero;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#numeroElemento1{
    grid-area: numero1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#massaElemento{
    grid-area: massa;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#massaElemento1{
    grid-area: massa1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#densidade{
    grid-area: densidade;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#densidade1{
    grid-area: densidade1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#pontofusao{
    grid-area: fusao;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#pontofusao1{
    grid-area: fusao1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#pontoebulicao{
    grid-area: ebulicao;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#pontoebulicao1{
    grid-area: ebulicao1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#eletro{
    grid-area: eletro;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#eletro1{
    grid-area: eletro1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#energia{
    grid-area: energia;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#energia1{
    grid-area: energia1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#distro{
    grid-area: distro;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

#distro1{
    grid-area: distro1;
    border: 1px solid rgb(190,210,210, 0.432);
    background-color: rgb(190,210,210, 0.432);
}

@keyframes fadeIn {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 728px;
        height: 124px;
    }
}